<!-- Main Content -->
<div class="flex justify-end xl:flex-row 2xl:flex-row lg:flex-row md:flex-row mb-l:flex-col mb-s:flex-col mb-m:flex-col">
  <section class="container flex-none w-auto mx-auto p-5">
    <app-alert *ngIf="showAlert" [color]="alertColor">
      <p>{{alertMsg}}</p>
    </app-alert>
  
    <div class="py-12 p-4 bg-white border rounded-lg shadow-md sm:p-8 dark:bg-gray-800 dark:border-gray-700">
      <div class="flex items-center justify-between mb-4">
          <h5 class="text-xl mr-10 font-bold leading-none text-gray-900 dark:text-white">Cart Items</h5>
          <a (click)="removeItems()" class="text-sm font-medium text-blue-600 hover:underline dark:text-blue-500">
              Remove All
          </a>
    </div>
    <div class="flow-root">
          <ul role="list" class="divide-y divide-gray-200 dark:divide-gray-700">
              <li *ngFor="let item of cartItems" class="py-3 sm:py-4">
                  <div class="flex items-center space-x-4">
                      
                      <div class="flex-1 min-w-0">
                          <p class="text-sm font-medium text-gray-900 truncate dark:text-white">
                              {{item.name}}
                          </p>
                      </div>
                      <div class="flex flex-row mx-5">
                        <p class="mr-5">Qty</p>
                        <input type="number" [(ngModel)]="item.quantity"
                              class="block text-gray-200 border border-gray-400 transition w-auto mb-s:w-8
                              md:w-8
                              lg:w-8
                              duration-500 focus:outline-none rounded bg-transparent focus:border-indigo-400"
                              (change)="itemCheck(item)"
                              />
                      </div>
                      
                      
                      <div class="inline-flex items-center text-base font-semibold text-gray-900 dark:text-white">
                          {{item.total | currency:'PHP'}}
                      </div>
                  </div>
              </li>
              <li class="py-3 sm:py-4">
                <div class="flex items-center space-x-4">
                    
                    <div class="flex-1 min-w-0">
                        <p class="text-sm font-medium text-gray-900 truncate dark:text-white">
                            TOTAL
                        </p>
                        <p class="text-sm text-gray-500 truncate dark:text-gray-400">
                            total items
                        </p>
                    </div>
                    <div class="inline-flex items-center text-base font-semibold text-gray-900 dark:text-white">
                        {{itemTotal | number:'1.1-2'}}
                    </div>
                </div>
              </li>
              <li class="py-3 sm:py-4">
                <div class="flex items-center space-x-4">
                    
                    <div class="flex-1 min-w-0">
                        <p class="text-sm font-medium text-gray-900 truncate dark:text-white">
                            Vat
                        </p>
                        <p class="text-sm text-gray-500 truncate dark:text-gray-400">
                            12% VAT Inclusion
                        </p>
                    </div>
                    <div class="inline-flex items-center text-base font-semibold text-gray-900 dark:text-white">
                        {{vat | number:'1.1-2'}}
                    </div>
                </div>
              </li>
              <li class="py-3 sm:py-4">
                <div class="flex items-center space-x-4">
                    
                    <div class="flex-1 min-w-0">
                        <p class="text-sm font-medium text-gray-900 truncate dark:text-white">
                            Net Amount
                        </p>
                        <p class="text-sm text-gray-500 truncate dark:text-gray-400">
                            Gross + VAT
                        </p>
                    </div>
                    <div class="inline-flex items-center text-base font-semibold text-gray-900 dark:text-white">
                        {{net | number:'1.1-2'}}
                    </div>
                </div>
              </li>
          </ul>

          <div class="flex items-center justify-between">
            <span class="text-3xl font-bold text-gray-900 dark:text-white"></span>
            <button [disabled]="isSubmitting || !(auth.isAuthenticated$ | async)" (click)="placeOrder()"
            [ngClass]="{
              'opacity-50': isSubmitting || !(auth.isAuthenticated$ | async),
              'hover:bg-indigo-700': isSubmitting || !(auth.isAuthenticated$ | async)
            }" 
            class="text-white bg-blue-700 hover:bg-blue-800 focus:ring-4 focus:outline-none focus:ring-blue-300 font-medium rounded-lg text-sm px-5 py-2.5 text-center dark:bg-blue-600 dark:hover:bg-blue-700 dark:focus:ring-blue-800">
              Submit Order
            </button>
        </div>
    </div>
    </div>


  </section>
  <section class="container grow mx-auto p-5">
  
    <h1 class="uppercase text-center text-4xl grid items-center gap-8 tracking-widest latest">MENU</h1>

    <!-- ITEM list -->
    <div class="grid place-items-center grid-cols-2 lg:grid-cols-3 sm:grid-cols-1 mb-l:grid-cols-1 mb-s:grid-cols-1 mb-m:grid-cols-1 gap-2">
    
    <!-- APPLE-->
    <div *ngFor="let item of items" class="w-full max-w-screen-mb-s bg-white rounded-lg shadow-md dark:bg-gray-800 dark:border-gray-700">
        <a href="#">
            <img class="p-8 rounded-t-lg" [src]="'assets/images/'+item.image" [alt]="item.name" />
        </a>
        <div class="px-8 pb-5">
            <a href="#">
                <h5 class="text-xl font-semibold tracking-tight text-gray-900 dark:text-white">{{item.name}}</h5>
            </a>
            <div class="flex items-center justify-between mt-5">
                <span class="text-3xl font-bold text-gray-900 dark:text-white">{{ item.price | currency:'PHP'}}</span>
                <a (click)="addToCart(item)" class="text-white bg-blue-700 hover:bg-blue-800 focus:ring-4 focus:outline-none focus:ring-blue-300 font-medium rounded-lg text-sm px-5 py-2.5 text-center dark:bg-blue-600 dark:hover:bg-blue-700 dark:focus:ring-blue-800">Add to cart</a>
            </div>
        </div>
    </div>

    </div>
    
  </section>
</div>
